USE [guidebook_fullstack]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [CK_users_role]
GO
ALTER TABLE [dbo].[categories] DROP CONSTRAINT [CK_categories_category_type]
GO
ALTER TABLE [dbo].[media_files] DROP CONSTRAINT [FK_media_files_contents]
GO
ALTER TABLE [dbo].[contents] DROP CONSTRAINT [FK_contents_parent]
GO
ALTER TABLE [dbo].[contents] DROP CONSTRAINT [FK_contents_categories]
GO
ALTER TABLE [dbo].[content_images] DROP CONSTRAINT [FK_content_images_contents]
GO
ALTER TABLE [dbo].[content_history] DROP CONSTRAINT [FK_content_history_users]
GO
ALTER TABLE [dbo].[content_history] DROP CONSTRAINT [FK_content_history_contents]
GO
ALTER TABLE [dbo].[categories] DROP CONSTRAINT [FK_categories_parent]
GO
ALTER TABLE [dbo].[categories] DROP CONSTRAINT [FK_categories_modules]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [DF_users_create_update_at]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [DF_users_token_version]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [DF_users_is_active]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [DF_users_role]
GO
ALTER TABLE [dbo].[modules] DROP CONSTRAINT [DF_modules_create_update_at]
GO
ALTER TABLE [dbo].[modules] DROP CONSTRAINT [DF_modules_is_active]
GO
ALTER TABLE [dbo].[modules] DROP CONSTRAINT [DF_modules_order_index]
GO
ALTER TABLE [dbo].[modules] DROP CONSTRAINT [DF_modules_moduleID]
GO
ALTER TABLE [dbo].[media_files] DROP CONSTRAINT [DF_media_files_create_update_at]
GO
ALTER TABLE [dbo].[media_files] DROP CONSTRAINT [DF_media_files_is_active]
GO
ALTER TABLE [dbo].[contents] DROP CONSTRAINT [DF_contents_create_update_at]
GO
ALTER TABLE [dbo].[contents] DROP CONSTRAINT [DF_contents_view_count]
GO
ALTER TABLE [dbo].[contents] DROP CONSTRAINT [DF_contents_is_published]
GO
ALTER TABLE [dbo].[content_images] DROP CONSTRAINT [DF_content_images_create_update_at]
GO
ALTER TABLE [dbo].[content_images] DROP CONSTRAINT [DF_content_images_order_index]
GO
ALTER TABLE [dbo].[content_history] DROP CONSTRAINT [DF_content_history_created_at]
GO
ALTER TABLE [dbo].[categories] DROP CONSTRAINT [DF_categories_category_type]
GO
ALTER TABLE [dbo].[categories] DROP CONSTRAINT [DF_categories_create_update_at]
GO
ALTER TABLE [dbo].[categories] DROP CONSTRAINT [DF_categories_is_active]
GO
ALTER TABLE [dbo].[categories] DROP CONSTRAINT [DF_categories_order_index]
GO
/****** Object:  Index [UQ_users_username]    Script Date: 3/22/2026 3:59:34 AM ******/
ALTER TABLE [dbo].[users] DROP CONSTRAINT [UQ_users_username]
GO
/****** Object:  Index [UQ_users_email]    Script Date: 3/22/2026 3:59:34 AM ******/
ALTER TABLE [dbo].[users] DROP CONSTRAINT [UQ_users_email]
GO
/****** Object:  Index [IX_media_files_content_is_active]    Script Date: 3/22/2026 3:59:34 AM ******/
DROP INDEX [IX_media_files_content_is_active] ON [dbo].[media_files]
GO
/****** Object:  Index [IX_contents_parent]    Script Date: 3/22/2026 3:59:34 AM ******/
DROP INDEX [IX_contents_parent] ON [dbo].[contents]
GO
/****** Object:  Index [IX_contents_category_published]    Script Date: 3/22/2026 3:59:34 AM ******/
DROP INDEX [IX_contents_category_published] ON [dbo].[contents]
GO
/****** Object:  Index [IX_content_images_content_id]    Script Date: 3/22/2026 3:59:34 AM ******/
DROP INDEX [IX_content_images_content_id] ON [dbo].[content_images]
GO
/****** Object:  Index [IX_content_history_user_id]    Script Date: 3/22/2026 3:59:34 AM ******/
DROP INDEX [IX_content_history_user_id] ON [dbo].[content_history]
GO
/****** Object:  Index [IX_content_history_content_created]    Script Date: 3/22/2026 3:59:34 AM ******/
DROP INDEX [IX_content_history_content_created] ON [dbo].[content_history]
GO
/****** Object:  Index [IX_categories_parent_id]    Script Date: 3/22/2026 3:59:34 AM ******/
DROP INDEX [IX_categories_parent_id] ON [dbo].[categories]
GO
/****** Object:  Index [IX_categories_module_type_parent_order]    Script Date: 3/22/2026 3:59:34 AM ******/
DROP INDEX [IX_categories_module_type_parent_order] ON [dbo].[categories]
GO
/****** Object:  Index [IX_categories_module_order]    Script Date: 3/22/2026 3:59:34 AM ******/
DROP INDEX [IX_categories_module_order] ON [dbo].[categories]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/22/2026 3:59:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[users]') AND type in (N'U'))
DROP TABLE [dbo].[users]
GO
/****** Object:  Table [dbo].[modules]    Script Date: 3/22/2026 3:59:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[modules]') AND type in (N'U'))
DROP TABLE [dbo].[modules]
GO
/****** Object:  Table [dbo].[media_files]    Script Date: 3/22/2026 3:59:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[media_files]') AND type in (N'U'))
DROP TABLE [dbo].[media_files]
GO
/****** Object:  Table [dbo].[contents]    Script Date: 3/22/2026 3:59:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[contents]') AND type in (N'U'))
DROP TABLE [dbo].[contents]
GO
/****** Object:  Table [dbo].[content_images]    Script Date: 3/22/2026 3:59:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[content_images]') AND type in (N'U'))
DROP TABLE [dbo].[content_images]
GO
/****** Object:  Table [dbo].[content_history]    Script Date: 3/22/2026 3:59:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[content_history]') AND type in (N'U'))
DROP TABLE [dbo].[content_history]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 3/22/2026 3:59:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[categories]') AND type in (N'U'))
DROP TABLE [dbo].[categories]
GO
USE [guidebook_fullstack]
GO
/****** Object:  Sequence [dbo].[ModuleIdSeq]    Script Date: 3/22/2026 3:59:34 AM ******/
DROP SEQUENCE [dbo].[ModuleIdSeq]
GO
USE [master]
GO
/****** Object:  Database [guidebook_fullstack]    Script Date: 3/22/2026 3:59:34 AM ******/
DROP DATABASE [guidebook_fullstack]
GO
/****** Object:  Database [guidebook_fullstack]    Script Date: 3/22/2026 3:59:34 AM ******/
CREATE DATABASE [guidebook_fullstack]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'guidebook_fullstack', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\guidebook_fullstack.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'guidebook_fullstack_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\guidebook_fullstack_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [guidebook_fullstack].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [guidebook_fullstack]
GO
USE [guidebook_fullstack]
GO
/****** Object:  Sequence [dbo].[ModuleIdSeq]    Script Date: 3/22/2026 3:59:34 AM ******/
CREATE SEQUENCE [dbo].[ModuleIdSeq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Table [dbo].[categories]    Script Date: 3/22/2026 3:59:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[module_id] [nvarchar](10) NOT NULL,
	[parent_id] [int] NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[order_index] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[create_update_at] [datetime2](7) NULL,
	[category_type] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[content_history]    Script Date: 3/22/2026 3:59:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[content_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content_id] [int] NOT NULL,
	[user_id] [int] NULL,
	[title] [nvarchar](300) NULL,
	[html_content] [nvarchar](max) NULL,
	[change_note] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_content_history] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[content_images]    Script Date: 3/22/2026 3:59:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[content_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content_id] [int] NULL,
	[image_url] [nvarchar](500) NULL,
	[caption] [nvarchar](255) NULL,
	[order_index] [int] NOT NULL,
	[create_update_at] [datetime2](7) NULL,
 CONSTRAINT [PK_content_images] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contents]    Script Date: 3/22/2026 3:59:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[parent_id] [int] NULL,
	[title] [nvarchar](300) NOT NULL,
	[html_content] [nvarchar](max) NULL,
	[plain_content] [nvarchar](max) NULL,
	[is_published] [bit] NOT NULL,
	[view_count] [int] NOT NULL,
	[order_index] [int] NULL,
	[create_update_at] [datetime2](7) NULL,
 CONSTRAINT [PK_contents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[media_files]    Script Date: 3/22/2026 3:59:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[media_files](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content_id] [int] NULL,
	[filename] [nvarchar](255) NOT NULL,
	[original_name] [nvarchar](255) NOT NULL,
	[file_path] [nvarchar](500) NOT NULL,
	[file_size] [int] NULL,
	[file_type] [nvarchar](100) NULL,
	[is_active] [bit] NOT NULL,
	[create_update_at] [datetime2](7) NULL,
 CONSTRAINT [PK_media_files] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modules]    Script Date: 3/22/2026 3:59:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modules](
	[moduleID] [nvarchar](10) NOT NULL,
	[moduleName] [nvarchar](100) NOT NULL,
	[icon] [nvarchar](50) NULL,
	[order_index] [int] NOT NULL,
	[active] [bit] NOT NULL,
	[create_update_at] [datetime2](7) NULL,
 CONSTRAINT [PK_modules] PRIMARY KEY CLUSTERED 
(
	[moduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/22/2026 3:59:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[token_version] [int] NOT NULL,
	[last_login_at] [datetime2](7) NULL,
	[password_changed_at] [datetime2](7) NULL,
	[create_update_at] [datetime2](7) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [module_id], [parent_id], [title], [description], [order_index], [is_active], [create_update_at], [category_type]) VALUES (1, N'MD001', NULL, N'Company Information', N'Manage organization company details', 2, 1, CAST(N'2026-03-10T15:38:11.7802371' AS DateTime2), N'Work Area')
INSERT [dbo].[categories] ([id], [module_id], [parent_id], [title], [description], [order_index], [is_active], [create_update_at], [category_type]) VALUES (2, N'MD001', NULL, N'Work Calendarsadsasd', N'Setup and manage organization work calendar', 1, 1, CAST(N'2026-03-10T15:38:11.7802371' AS DateTime2), N'Work Area')
INSERT [dbo].[categories] ([id], [module_id], [parent_id], [title], [description], [order_index], [is_active], [create_update_at], [category_type]) VALUES (3, N'MD002', NULL, N'Exchange Rate', N'Manage exchange rates', 1, 1, CAST(N'2026-03-10T15:38:11.7802371' AS DateTime2), N'Work Area')
GO
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[content_images] ON 

INSERT [dbo].[content_images] ([id], [content_id], [image_url], [caption], [order_index], [create_update_at]) VALUES (6, 6, N'/uploads/1763345856165_eaf57528483a.png', N'overview', 0, CAST(N'2026-03-10T15:38:11.8272399' AS DateTime2))
INSERT [dbo].[content_images] ([id], [content_id], [image_url], [caption], [order_index], [create_update_at]) VALUES (7, 7, N'/uploads/1763346776822_74ec15664798.png', N'step17', 0, CAST(N'2026-03-10T15:38:11.8272399' AS DateTime2))
INSERT [dbo].[content_images] ([id], [content_id], [image_url], [caption], [order_index], [create_update_at]) VALUES (8, 7, N'/uploads/1763346780346_ac7161c4aa44.png', N'step18', 0, CAST(N'2026-03-10T15:38:11.8272399' AS DateTime2))
SET IDENTITY_INSERT [dbo].[content_images] OFF
GO
SET IDENTITY_INSERT [dbo].[contents] ON 

INSERT [dbo].[contents] ([id], [category_id], [parent_id], [title], [html_content], [plain_content], [is_published], [view_count], [order_index], [create_update_at]) VALUES (6, 41, NULL, N'Overvieww', N'<p><br></p>', N'', 1, 0, 0, CAST(N'2026-03-10T15:38:11.8116086' AS DateTime2))
INSERT [dbo].[contents] ([id], [category_id], [parent_id], [title], [html_content], [plain_content], [is_published], [view_count], [order_index], [create_update_at]) VALUES (9, 41, 45, N'Save Image', N'<ol><li ...>After save the sale order...</li>...</ol>', N'After save the sale order, the user have to allocate product detailfor that ordercurrently the systemcompulsory update image/sketch of that sale orderthe user selectbase on step 1,2 as snapshotd', 1, 0, 1, CAST(N'2026-03-10T15:38:11.8116086' AS DateTime2))
SET IDENTITY_INSERT [dbo].[contents] OFF
GO
INSERT [dbo].[modules] ([moduleID], [moduleName], [icon], [order_index], [active], [create_update_at]) VALUES (N'MD001', N'Organization', N'fas fa-building', 1, 1, CAST(N'2026-03-10T15:38:11.7125184' AS DateTime2))
INSERT [dbo].[modules] ([moduleID], [moduleName], [icon], [order_index], [active], [create_update_at]) VALUES (N'MD002', N'System', N'fas fa-cogs', 2, 1, CAST(N'2026-03-10T15:38:11.7125184' AS DateTime2))
INSERT [dbo].[modules] ([moduleID], [moduleName], [icon], [order_index], [active], [create_update_at]) VALUES (N'MD003', N'Finance', N'fas fa-dollar-sign', 3, 1, CAST(N'2026-03-10T15:38:11.7125184' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [email], [password_hash], [role], [is_active], [token_version], [last_login_at], [password_changed_at], [create_update_at]) VALUES (1, N'admin', N'admin@example.com', N'$2b$11$12mj4VW8dui3lrvwtMNm9ukunoh8z.lpd63kzMw4HSSyTJi1Cs/fC', N'admin', 1, 0, CAST(N'2026-03-19T03:15:51.3933333' AS DateTime2), NULL, CAST(N'2026-03-10T15:38:11.8272399' AS DateTime2))
INSERT [dbo].[users] ([id], [username], [email], [password_hash], [role], [is_active], [token_version], [last_login_at], [password_changed_at], [create_update_at]) VALUES (2, N'cus1', N'cus1@example.com', N'$2b$11$IT.Z/7BJMtG/SH2IpiXqF.NoWx7qHy2oofoLYvYqbYEI/tlY4jmSm', N'customer', 1, 0, NULL, NULL, CAST(N'2026-03-10T15:38:11.8272399' AS DateTime2))
INSERT [dbo].[users] ([id], [username], [email], [password_hash], [role], [is_active], [token_version], [last_login_at], [password_changed_at], [create_update_at]) VALUES (3, N'admin1', N'admin1@example.com', N'$2b$11$tM8XtoDYoSIVZMoxJvMLIeSRpTpe44vw0bJVntsi3E0Ssad47BDcm', N'admin', 1, 0, NULL, NULL, CAST(N'2026-03-10T15:38:11.8272399' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_categories_module_order]    Script Date: 3/22/2026 3:59:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_categories_module_order] ON [dbo].[categories]
(
	[module_id] ASC,
	[order_index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_categories_module_type_parent_order]    Script Date: 3/22/2026 3:59:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_categories_module_type_parent_order] ON [dbo].[categories]
(
	[module_id] ASC,
	[category_type] ASC,
	[parent_id] ASC,
	[order_index] ASC,
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_categories_parent_id]    Script Date: 3/22/2026 3:59:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_categories_parent_id] ON [dbo].[categories]
(
	[parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_content_history_content_created]    Script Date: 3/22/2026 3:59:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_content_history_content_created] ON [dbo].[content_history]
(
	[content_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_content_history_user_id]    Script Date: 3/22/2026 3:59:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_content_history_user_id] ON [dbo].[content_history]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_content_images_content_id]    Script Date: 3/22/2026 3:59:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_content_images_content_id] ON [dbo].[content_images]
(
	[content_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_contents_category_published]    Script Date: 3/22/2026 3:59:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_contents_category_published] ON [dbo].[contents]
(
	[category_id] ASC,
	[is_published] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_contents_parent]    Script Date: 3/22/2026 3:59:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_contents_parent] ON [dbo].[contents]
(
	[parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_media_files_content_is_active]    Script Date: 3/22/2026 3:59:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_media_files_content_is_active] ON [dbo].[media_files]
(
	[content_id] ASC,
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_email]    Script Date: 3/22/2026 3:59:34 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_username]    Script Date: 3/22/2026 3:59:34 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF_categories_order_index]  DEFAULT ((0)) FOR [order_index]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF_categories_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF_categories_create_update_at]  DEFAULT (sysdatetime()) FOR [create_update_at]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF_categories_category_type]  DEFAULT (N'Work Area') FOR [category_type]
GO
ALTER TABLE [dbo].[content_history] ADD  CONSTRAINT [DF_content_history_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[content_images] ADD  CONSTRAINT [DF_content_images_order_index]  DEFAULT ((0)) FOR [order_index]
GO
ALTER TABLE [dbo].[content_images] ADD  CONSTRAINT [DF_content_images_create_update_at]  DEFAULT (sysdatetime()) FOR [create_update_at]
GO
ALTER TABLE [dbo].[contents] ADD  CONSTRAINT [DF_contents_is_published]  DEFAULT ((1)) FOR [is_published]
GO
ALTER TABLE [dbo].[contents] ADD  CONSTRAINT [DF_contents_view_count]  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[contents] ADD  CONSTRAINT [DF_contents_create_update_at]  DEFAULT (sysdatetime()) FOR [create_update_at]
GO
ALTER TABLE [dbo].[media_files] ADD  CONSTRAINT [DF_media_files_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[media_files] ADD  CONSTRAINT [DF_media_files_create_update_at]  DEFAULT (sysdatetime()) FOR [create_update_at]
GO
ALTER TABLE [dbo].[modules] ADD  CONSTRAINT [DF_modules_moduleID]  DEFAULT ('MD'+right('000'+CONVERT([varchar](10),NEXT VALUE FOR [dbo].[ModuleIdSeq]),(3))) FOR [moduleID]
GO
ALTER TABLE [dbo].[modules] ADD  CONSTRAINT [DF_modules_order_index]  DEFAULT ((0)) FOR [order_index]
GO
ALTER TABLE [dbo].[modules] ADD  CONSTRAINT [DF_modules_is_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[modules] ADD  CONSTRAINT [DF_modules_create_update_at]  DEFAULT (sysdatetime()) FOR [create_update_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_role]  DEFAULT (N'customer') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_token_version]  DEFAULT ((0)) FOR [token_version]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_create_update_at]  DEFAULT (sysdatetime()) FOR [create_update_at]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [FK_categories_modules] FOREIGN KEY([module_id])
REFERENCES [dbo].[modules] ([moduleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [FK_categories_modules]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [FK_categories_parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [FK_categories_parent]
GO
ALTER TABLE [dbo].[content_history]  WITH CHECK ADD  CONSTRAINT [FK_content_history_contents] FOREIGN KEY([content_id])
REFERENCES [dbo].[contents] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[content_history] CHECK CONSTRAINT [FK_content_history_contents]
GO
ALTER TABLE [dbo].[content_history]  WITH CHECK ADD  CONSTRAINT [FK_content_history_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[content_history] CHECK CONSTRAINT [FK_content_history_users]
GO
ALTER TABLE [dbo].[content_images]  WITH CHECK ADD  CONSTRAINT [FK_content_images_contents] FOREIGN KEY([content_id])
REFERENCES [dbo].[contents] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[content_images] CHECK CONSTRAINT [FK_content_images_contents]
GO
ALTER TABLE [dbo].[contents]  WITH CHECK ADD  CONSTRAINT [FK_contents_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[contents] CHECK CONSTRAINT [FK_contents_categories]
GO
ALTER TABLE [dbo].[contents]  WITH CHECK ADD  CONSTRAINT [FK_contents_parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[contents] ([id])
GO
ALTER TABLE [dbo].[contents] CHECK CONSTRAINT [FK_contents_parent]
GO
ALTER TABLE [dbo].[media_files]  WITH CHECK ADD  CONSTRAINT [FK_media_files_contents] FOREIGN KEY([content_id])
REFERENCES [dbo].[contents] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[media_files] CHECK CONSTRAINT [FK_media_files_contents]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [CK_categories_category_type] CHECK  (([category_type]=N'Setting' OR [category_type]=N'Report' OR [category_type]=N'Work Area'))
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [CK_categories_category_type]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_role] CHECK  (([role]=N'customer' OR [role]=N'manager' OR [role]=N'admin'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_role]
GO
USE [master]
GO
