<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
      <section name="uglify" type="BundleTransformer.UglifyJs.Configuration.UglifySettings, BundleTransformer.UglifyJs" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />-->
    <add name="ApplicationServices" connectionString="data source=lnt-db01\lntexpress;uid=sa;pwd=P@ssw0rd;Initial Catalog=FXPRO_NEW" providerName="System.Data.SqlClient" />
    <!--<add name="ApplicationServices" connectionString="data source=.\ITSQLEXPRESS2012;uid=sa;pwd=123456;Initial Catalog=FXPRO" providerName="System.Data.SqlClient"/>-->
    <!--<add name="db_ConnectString" connectionString="Data Source=.\ITSQLEXPRESS2012;uid=sa;pwd=123456;database=FXPRO;MultipleActiveResultSets=True;pooling=true;Max Pool Size=2048;Connect Timeout=120" providerName="System.Data.SqlClient"/>-->
    <!--<add name="db_ConnectString" connectionString="data source=lnt-db01\lntexpress;uid=sa;pwd=P@ssw0rd;Initial Catalog=FXPRO_NEW;MultipleActiveResultSets=True;pooling=true;Max Pool Size=2048;Connect Timeout=120" providerName="System.Data.SqlClient="/>-->
    <add name="db_ConnectString" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=dbLNTWEB;MultipleActiveResultSets=True;pooling=true;Max Pool Size=2048;Connect Timeout=120" providerName="System.Data.SqlClient=" />
    <!--<add name="db_ConnectString" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=dbProtrade;MultipleActiveResultSets=True;pooling=true;Max Pool Size=2048;Connect Timeout=120" providerName="System.Data.SqlClient="/>-->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" />
    <customErrors mode="RemoteOnly" defaultRedirect="/Page404.aspx">
      <!--<error statusCode="404" redirect="~/ErrorPages/404.aspx" />-->
    </customErrors>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!-- Roll Start -->
    <rewrite>
      <rules>
        <rule name="rule_home_1" stopProcessing="true">
          <match url="index.html" ignoreCase="true" />
          <action type="Redirect" url="Default.aspx" />
        </rule>
        <rule name="RewriteASPX" stopProcessing="false" enabled="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.aspx" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx" />
        </rule>
        <rule name="rule_admin_1" stopProcessing="true">
          <match url="^admintools/SectionMaster/([1-9].*)/([1-9].*)/(.*)" ignoreCase="true" />
          <action type="Rewrite" url="/admins/SectionMaster.aspx?PageIndex={R:1}&amp;PageSize={R:2}&amp;PageID={R:3}" />
        </rule>
        <rule name="rule_admin_2" stopProcessing="true">
          <match url="^admintools/TranslateKey/([1-9].*)/([1-9].*)/(.*)/(.*)" ignoreCase="true" />
          <action type="Rewrite" url="/admins/TranslateKey.aspx?PageIndex={R:1}&amp;PageSize={R:2}&amp;PageID={R:3}&amp;SectionID={R:4}" />
        </rule>
        <rule name="rule_admin_3" stopProcessing="true">
          <match url="^admintools/TranslateDetail/(.*)/(.*)/(.*)/(.*)" ignoreCase="true" />
          <action type="Rewrite" url="/admins/TranslateDetail.aspx?PageID={R:1}&amp;Language={R:2}&amp;SectionID={R:3}&amp;KeyCode={R:4}" />
        </rule>
        <rule name="rule_admin_4" stopProcessing="true">
          <match url="^admintools/PagesManagement/([1-9].*)/([1-9].*)" ignoreCase="true" />
          <action type="Rewrite" url="/admins/PagesManagement.aspx?PageIndex={R:1}&amp;PageSize={R:2}" />
        </rule>
        <!--<rule name="rule_home_3" stopProcessing="true">
          <match url="^admintools/(.*)/([1-9].*)/([1-9].*)" ignoreCase="true"/>
          <action type="Rewrite" url="/admins/{R:1}.aspx?PageIndex={R:2}&amp;PageSize={R:3}"/>
        </rule>-->
        <rule name="rule_home_4" stopProcessing="false">
          <match url="^admintools/(.*)" ignoreCase="true" />
          <action type="Rewrite" url="/admins/{R:1}.aspx" />
        </rule>
        <!--<rule name="rule_not_found" stopProcessing="true">
          <match url="(.*)"/>
          <action type="Rewrite" url="/Page404.aspx"/>
        </rule>-->
      </rules>
    </rewrite>
    <defaultDocument enabled="true">
      <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />       
        <!--Home page show icon module-->
      </files>
    </defaultDocument>
    <!-- Roll End -->
  </system.webServer>
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core>
      <css>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <postProcessors>
          <add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="false" />
        </postProcessors>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".css" assetTypeCode="Css" />
        </fileExtensions>
      </css>
      <js>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
          <add name="UglifyJsMinifier" type="BundleTransformer.UglifyJs.Minifiers.UglifyJsMinifier, BundleTransformer.UglifyJs" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
        </fileExtensions>
      </js>
    </core>
  </bundleTransformer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: FD7A1175-E664-4EC7-B249-1494A12F989E-->