<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Catch deep-link requests under /docs and rewrite to SPA index -->
        <rule name="DocsSpaForward" stopProcessing="true">
          <match url="^docs/(?!ckfinder/).*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="docs/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>